
.continuous-chart text {
	font-family: sans-serif;
}

.continuous-chart >.axis >.tick text {
	font-size: 10px;
	fill: #777777;
}
.continuous-chart >.axis.axis-x >.tick.tick-x text {
	text-anchor: middle;
}
