
.continuous-chart .sensor {
	pointer-events: all;
}
.continuous-chart .sensor .focus,
.continuous-chart .sensor .tooltip {
	pointer-events: none;
}

.continuous-chart .sensor >rect {
	fill: none;
}

.continuous-chart .sensor .tooltip text {
	font-size: 11px;
	fill: #ffffff;
}
